<div class="section-title-one py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <div class="content">
            <h2 class="fw-bold">Articles manager</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>

<div class="container">
  <div class="row" *ngIf="categories?.length > 0">
<section class="col">
  <div class="row mb-3">
    <div class="col">
      <div class="input-group w-100" style="width: 300px">
        <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
        <input
          (keyup.enter)="onSearch()"
          type="text"
          class="form-control"
          #search
          placeholder="Search"
        />
        <button
          (click)="onSearch()"
          class="btn btn-outline-primary"
          type="button"
        >
          Search
        </button>
        <button
          (click)="onReset()"
          class="btn btn-outline-success"
          type="button"
        >
          Reset
        </button>
      </div>
    </div>
    <div class="col-md-auto">
      <select class="form-select" (change)="onCategorySelected($event.target.value)">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <div class="col-md-auto">
      <select class="form-select" (change)="onSortSelected($event.target.value)">
        <option *ngFor="let sort of sortOptions" [value]="sort.value">{{ sort.name }}</option>
      </select>
    </div>
    <div class="col text-end">
      <app-paging-header
        [totalCount]="totalCount"
        [pageSize]="this.newsParams.pageSize"
        [pageNumber]="this.newsParams.pageNumber"
      ></app-paging-header>
    </div>
  </div>
<div class="container min-vh-100">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col-1">#ID</th>
        <th scope="col-5">Title</th>
        <th scope="col-2">Category</th>
        <th scope="col-3">Date</th>
        <th scope="col-2">Actions</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let item of articles">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.title }}</td>
        <td>{{ item.articleCategory}}</td>
        <td>{{ item.date | date }}</td>
        <td>
          <button class="btn btn-warning me-3"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center my-4" *ngIf="totalCount > 0">
    <app-pager
      [pageSize]="newsParams.pageSize"
      [totalCount]="totalCount"
      (pageChanged)="onPageChanged($event)"
    ></app-pager>
  </div>
</div>
</section>
  </div>
</div>
