<div class="card h-100 shadow-sm">
  <div class="image position-relative" style="cursor: pointer">
    <img
      class="img-fluid bg-light card-img-top"
      src="{{ article.pictureUrl }}"
      alt="{{ article.title }}"
    />
  </div>

  <div class="card-body d-flex flex-column">
    <div class="row mb-1">
      <div class="col-md-auto meta-info">
        <p class="d-inline fw-bold fs-6 me-2">
          <a [routerLink]="['/category']" [queryParams]="{categoryId: identifyCategoryId(article.articleCategory), categoryName: article.articleCategory}">{{ article.articleCategory }}</a>
        </p>
        <p class="d-inline text-black-50 fs-6">{{ article.date | date }}</p>
      </div>
    </div>
    <a class="text-decoration-none" routerLink="/category/{{ article.id }}">
      <h5 class="text-black">{{ article.title }}</h5>
    </a>
  </div>
</div>
