<div class="container">
  <div class="row min-vh-100 d-flex justify-content-center" *ngIf="article">
    <div class="col-md-auto">
      <img
        src="{{ article.pictureUrl }}"
        alt="{{ article.title }}"
        class="img-fluid w-100 rounded"
        style="max-width: 800px"
      />
      <div class="row">
        <div class="row mb-1">

        </div>
        <div class="col-md-auto my-3"><p class="d-inline fw-bold fs-6 me-2"> {{ article.articleCategory}}</p> <p class="d-inline text-black-50 fs-6">{{ article.date | date }}</p></div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <div style="max-width: 800px">
            <h3 class="my-2">{{ article.title }}</h3>
            <p class="mt-4">{{ article.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

